* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ececec;
	text-align: left;
	background: #1e1e1e;
	margin: 10px 0;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app__frames {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: space-between;
	width: 100%;
	max-width: 800px;
}

.app__frame {
	flex: 1;
	margin: 0 10px;
	padding: 10px;
	background-color: #2d2d2d;
	border: 1px solid #3a3a3a;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.app__frame__title {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1rem;
	color: #ececec;
	padding-bottom: 0.5em;
	text-align: center;
}

.app__title {
	font-family: ;
	font-size: 1.5rem;
	color: #ececec;
}

.app__windows {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	margin: 1.25rem auto;
}

.app__windows__editor,
.app__windows__previewer {
	width: 100%;
	min-height: 200px;
	margin-bottom: 10px;
	resize: vertical;
	outline: none;
	padding: 10px;
	font-size: 1rem;
	background-color: #2d2d2d;
	border: 1px solid #3a3a3a;
	color: #ececec;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.app__windows__editor {
	font-family: 'Courier New', Courier, monospace;
}

#preview {
	padding: 0 1rem;
	background-color: #2d2d2d;
	border: 1px solid #3a3a3a;
	color: #ececec;
}

#preview blockquote {
	border-left: 3px solid #e9d714;
	color: #e9d714;
	padding-left: 5px;
	margin-left: 25px;
}

#preview > p > code {
	padding: 3px;
}

#preview code {
	display: block;
	background: #333;
	color: #f1df15;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 10px;
	border-radius: 3px;
	white-space: pre-wrap;
	overflow: auto;
	transition: background 0.3s, color 0.3s;
}

#preview code.inline {
	display: inline-block !important;
	margin: 0 2px;
	padding: 3px;
	border: 1px solid #3a3a3a;
	border-radius: 3px;
	white-space: nowrap;
	overflow: hidden;
}

#preview code:hover {
	background: #444;
	color: #f8e518;
}

#preview pre {
	margin: 0;
}

#preview img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 2rem auto;
}

#preview a {
	color: #e9d714;
	text-decoration: underline;
	transition: color 0.3s;
}

#preview a:hover {
	color: #fff371;
}

@media screen and (max-width: 420px) {
	body {
		font-size: 0.875rem;
	}
}
